header{
    background-color: #ff944d;
    text-align: center;
    color: #fff;
}

h1{
    padding: 2%;
    font-size: 40px;
}

header p{
    margin: 6px;
}

header li{
    display: inline;
    padding: 3%;
    font-size: 19px;
}