*{
    box-sizing: border-box;
    font-family: sans-serif;
}

a{
    text-decoration: none;
    color: inherit;
}

.news-1{
    justify-content: space-between;
    display: flex;
    padding-top: 5px;
    padding-bottom: 10px;
}

.news-1-letters{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.news-1-img div{
    width: 100px;
    height: 100px;
}

.news-1-img img{
    width: 100%;
    height: 100%;
}

h2{
    font-size: 17px;
    font-weight: bold;
}

.news-1-letters p{
    font-size: 15px;
}

.news-1-letters a{
    font-size: 13px
}

